.bodyShadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 0px 35px 17px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 35px 17px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 35px 17px rgba(34, 60, 80, 0.2);


}

.body {


  input {
    background-color: #fff;
    color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  background: rgb(247, 216, 164);
  background: radial-gradient(circle, rgba(247, 216, 164, 1) 0%, rgba(244, 234, 217, 1) 100%);
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, .35) inset,
  3px 3px 1px -2px #F4EAD9 inset,
  -3px 3px 1px -2px #F4EAD9 inset,
  3px  -3px 1px -2px #F4EAD9 inset,
  -3px -3px 1px -2px #F4EAD9 inset;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find {
  max-height: 200px;
  min-height: 100px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1px;
  }

  width: calc(100% + 60px);
  margin-bottom: 10px;

  .findItem {
    background-color: rgba(243, 206, 144, 0.84);
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, .35) inset,
    3px 3px 1px -2px #F4EAD9 inset,
    -3px 3px 1px -2px #F4EAD9 inset,
    3px  -3px 1px -2px #F4EAD9 inset,
    -3px -3px 1px -2px #F4EAD9 inset;
    text-align: center;
    color: #21385b;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.exit {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10px;
  width: 10px;


  &::after {

    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(45deg);

  }

  &::before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(-45deg);
  }
}


.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.loadingDots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 20px;

}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50% !important;
  background-color: #0c0c0c; /* Цвет точек */
  animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.bodiloading {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elem {
  cursor: pointer;
  color: white !important;
}

.active {
  color: #5a984a !important;
}

.save {
  padding: 10px;
  border-radius: 20px;
  box-shadow: -5px -5px 15px -5px rgba(0, 0, 0, .35) inset,
  3px 3px 1px -2px #f3ddc3 inset,
  -3px -3px 1px -2px #f3ddc3 inset,
  3px  -3px 1px -2px #f3ddc3 inset,
  -3px -3px 1px -2px #f3ddc3 inset;
  cursor: pointer;

  transition: all ease .5s;

  &.error {
    color: red;
  }
}

.errorLoad {
  text-align: center;
}

.choiceBlock {
  margin-bottom: 10px;
}

.choiceBlock {
  margin-bottom: 10px;

}


.choiceTitle {
  margin-bottom: 5px;
}

.ChoiceBlockItems {
  max-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1px;
  }

  p {
    text-align: center;
  }

}

@media screen and (max-width: 450px) {
  .body {
    font-size: 15px;
    width: 70%;
  }
  .search {

    input {
      font-size: 10px;
    }
  }
}